body{
    font-family: 'Comic Sans MS';
    margin-top: 0%;
    background-color: #050517;
    color: aliceblue;
    a {
        text-decoration: none;
        color: aliceblue;
    }
    a :hover{
        scale: 200%;
    }
    img {
        display: block;
    margin-left: auto;
    margin-right: auto;
     width: 50%;
    }
}
nav {
    font-family: 'Papyrus';
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #CF5C36;
    margin-top: 0px;
    overflow: auto;

    a {
        text-decoration: none;
        color: #000;
    }
}

iframe {
    width: 100%;
}

table, tr, td {
    border: 1px solid aliceblue;
    border-collapse: collapse;
    padding: 15px;
}