body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.inhalt {
    margin-top: 80px;
}

.profilbild_image {
    border-radius: 5%;
    margin-bottom: 10px;
}

.artikel-metadata {
    margin-top: 10px;
}

.artikelbild {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2%;
}

.bildunterschrift {
    font-style: italic;
    margin-bottom: 20px;
}

.artikel {
    h1 {
        a {
            color: #333333;
        }
    }
}

footer {
    background-image: linear-gradient(#3c3c3c, #080808);
    color: #9d9d9d;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.container {
    flex: 1;
}

table, th, td {
    border: 1px solid black;
    padding: 2px;
}